.gallery-top {
  margin-top: 30px;
  margin-bottom: 30px;
}
.title-section {
  border-left: 4px solid #000;
  padding-left: 33px;
}
.text-description {
  color: #868686;
  padding-left: 37px;
  margin: 23px 0 0;
}
