.gallery-top {
  margin-top: 30px;
  margin-bottom: 30px;
  
  @media (max-width: $layout-breakpoint-xsmall) {
    margin-top: 150px;
  }

  @media (min-width: $layout-breakpoint-large) {
    margin-top: 50px;
    
    
  }
}
.title-section {
  border-left: 4px solid #000;
  padding-left: 33px;
}
.text-description {
  color: #868686;
  padding-left: 37px;
  margin: 23px 0 0;
  margin-bottom: 50px !important;
}
.container-row-mb{
  margin-bottom: 20px !important;
}
.latest__contenedor {
  position: relative;
  display: table-cell;
  width: 100%;
}
.latest__tour--img-rounded {
  border-radius: 250px;
}

.latest__tour-details {
  position: absolute;
  display: block;
  width: 90%;
  top: 75%;
  color: white;

  padding: 0 20px;
}
.latest__tour-details--title {
  line-height: 1;
  font-size: 18px;
  font-weight: 600;
  &-rounded {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1;
    font-size: 18px;
    font-weight: 600;
    color: white;
    font-family: Satisfy,cursive;
    font-size: 48px;
    font-weight: 100;
  }
}

.latest__tour-details--price-and-rating {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 14px;
}
.latest__tour-details--rating {
  font-weight: 300;
}

.latest__tour-details--price {
  text-align: right;
  font-size: 18px;
  font-weight: 600;
}
