.gallery-top {
  margin-top: 30px;
  margin-bottom: 30px;

  @media (max-width: $layout-breakpoint-xsmall) {
    margin-top: 150px;
  }
  @media (min-width: $layout-breakpoint-xsmall) {
    margin-top: 120px;
  }
  @media (min-width: $layout-breakpoint-medium) {
    margin-top: 100px;
  }

  @media (min-width: $layout-breakpoint-large) {
    margin-top: 50px;
  }
}
.title-section {
  border-left: 4px solid #000;
  padding-left: 33px;
}
.text-description {
  color: #868686;
  padding-left: 37px;
  margin: 23px 0 0;
  margin-bottom: 50px !important;
}
.container-row-mb {
  margin-bottom: 20px !important;
}
.latest__contenedor {
  position: relative;
  display: table-cell;
}
.latest__tour--img-rounded {
  border-radius: 150px;
  height: 300px;
  width: 300px;
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
}
.latest__tour--img {
  display: block;
  height: 300px;
  width: 300px;
  max-width: 100%;
  min-width: 100%;
  min-height: 100%;
  max-height: 100%;
  margin: auto;
  object-fit: fill;
}

.latest__tour-details {
  position: absolute;
  display: block;
  width: 90%;
  top: 75%;
  color: white;
  padding: 0 20px;
}
.latest__tour-details--title {
  line-height: 1;
  font-size: 18px;
  font-weight: 600;
  &-rounded {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1;
    font-size: 18px;
    font-weight: 600;
    color: white;
    font-family: Satisfy, cursive;
    font-size: 48px;
    font-weight: 100;
  }
}

.latest__tour-details--price-and-rating {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 14px;
}
.latest__tour-details--rating {
  font-weight: 300;
}

.latest__tour-details--price {
  text-align: right;
  font-size: 18px;
  font-weight: 600;
}

// Feature section
.features-section {
  background-color: rgba(0, 0, 0, 0.04);
  padding: 50px 0;
  // font-family: "Open Sans", Arial, sans-serif;
}

.feature-left {
  float: left;
  width: 100%;
  margin-bottom: 40px;
  position: relative;
}

.feature-left .icon {
  float: left;
  text-align: center;
  width: 15%;
}
@media screen and (max-width: 992px) {
  .feature-left .icon {
    width: 10%;
  }
}
@media screen and (max-width: 768px) {
  .feature-left .icon {
    width: 15%;
  }
}
.feature-left .icon .feature-icon {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-size: 40px;
  color: #bdbdbd;
}
.feature-left .feature-copy {
  float: right;
  width: 80%;
}
@media screen and (max-width: 992px) {
  .feature-left .feature-copy {
    width: 90%;
  }
}
@media screen and (max-width: 768px) {
  .feature-left .feature-copy {
    width: 85%;
  }
}
@media screen and (max-width: 480px) {
  .feature-left .feature-copy {
    width: 80%;
  }
}
.feature-left .feature-copy h3 {
  font-size: 18px;
  color: #1a1a1a;
  margin-bottom: 10px;
  font-weight: 700;
  margin: 0;
}
.feature-left .feature-copy p {
  color: #848484;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 10px;
}
.feature-left .feature-copy p > a {
  font-size: 15px;
  font-weight: 300;
}
