body {
  line-height: 1;
  background: $background !important;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}
a {
  color: #337ab7;
  text-decoration: none;
  transition: 0.5s, ease;
  font-weight: 300;
}
a:hover {
  text-decoration: none;
  color: #F78536 ;
}
a:active, a:hover {
  outline: 0;
}